.accordion-button:not(.collapsed){
    color: inherit !important;
    background-color: inherit !important;
}

.articles-section {
    padding: 50px 50px;
}

.papers-accordian {
    p {
        margin: 0;
    }
}

