// Overrides
hr  {
    width: 50%;
    border-top: 2px solid $accent;
    margin: 0 auto;
}

.title-section {
    background-color: #00000041;
    h1 {
        color: #ffffff;
        margin-left: 15px;
    }
}

.large-book-container {
    max-height: 890px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.small-book-container {
    min-height: 250px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.large-cover-img {
    max-height: 500px;
}

.small-cover-img {
    max-height: 250px;
}

.pitw-quote {
    min-height: 150px;
    p {
        font-style: italic;
        font-size: medium;
    }
}

.ramn-height {
    margin-top: 1px;
    height: 248.5px;
}
