/* ---------- Theme Colours ---------- */
$theme-color-1: #E74533;
$theme-color-2: #D25753;
$theme-color-3: #D97839;
$theme-color-4: #E3B42A;
$theme-color-5: #B08B32;
$theme-color-6: #8B6B44;
$theme-color-7: #22201D;
$theme-color-8: #619CA2;
$theme-color-9: #E4E3E2;
$theme-color-10: #C3C3C1;
$dark-blue: #1c165c;
$pale-blue: #57667e;
$isp-red: #c31a18;