/* ------ Imports ------ */
@import 'animations';

/* ------ Element Styles ------ */
body {
    margin-top: 106px;
}

body, html {
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $theme-color-9;
}

h1, h2, h3, h4, h5 {
    font-family: 'Rufina', serif;
}

/* ------ Button Padding ------ */
.btn {
    border-radius: 56px;
}

/* ------ Padding ------ */
.section-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}
.separator {
    border-top: 1px solid #f2f2f2
}
