/* ------ Imports ------ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rufina:wght@400;700&display=swap');
@import 'animations';

/* ------ Element Styles ------ */
body {
    margin-top: 106px;
    // -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    //    -moz-animation: fadein 2s; /* Firefox < 16 */
    //     -ms-animation: fadein 2s; /* Internet Explorer */
    //      -o-animation: fadein 2s; /* Opera < 12.1 */
    //         animation: fadein 2s;
}

body, html {
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: $theme-color-9;
}

h1, h2, h3, h4, h5 {
    font-family: 'Rufina', serif;
}

/* ------ Button Padding ------ */
.btn {
    border-radius: 56px;
}

/* ------ Padding ------ */
.section-padding{
    padding-top: 120px;
    padding-bottom: 120px;
}
.separator {
    border-top: 1px solid #f2f2f2
}
