@import 'variables';

.footer-area{
    background: #080827;
    .footer-top{
       .footer-top-cap{
           img{
            margin-bottom: 30px;
           }
           p{
            color: #c5c5dd;
            margin-bottom: 1px;
           }
       }
    }
    //copyright
    .footer-bottom{
        // border-top: 1px solid #1c2e4c;
        padding-bottom: 50px;
        padding-top: 20px;

        .footer-copyright{
            & p{
                display: inline-block;
                color: #393a50;
                font-weight: 300;
                font-size: 16px;
                line-height: 2;
                margin-bottom: 12px;
            }
            a {
                display: inline;
                color: #393a50;
            }
        }
    }
}
