@import 'colors';
@import 'animations';

.banner {
    background: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0) 15%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 1) 100%),
        url("../img/Banner_Alt.png") no-repeat center center scroll;
    background-repeat: no-repeat;
    min-height: 300px;
}

.book-section {
    overflow-x: hidden;

    .row {
        div[class*="col-"] {
            h4 {
                color: #1c165c;
            }
        }
    }
}

.book-left-quote {
    padding-right: 20px;
    border-right: 2px solid $accent;

    p {
        font-size: medium;
        color: $black;
        text-align: right;
    }
}

.book-right-quote {
    padding-left: 20px;
    border-left: 2px solid $accent;

    p {
        font-size: medium;
    }
}

.book-col {
    ul {
        list-style-type: none;
        padding: 10px;

        li {
            margin-top: 1em;

            a {
                font-size: 1.5em;
                color: black;
            }
        }
    }
}

.isp-text {
    color: $isp-red;
}

.intro-link {
    color: $dark-blue;
    text-decoration: underline;
    text-decoration-color: $accent;
    text-underline-offset: 3px;
    transition: color 0.2s ease;

    &:hover {
        color: $accent;
    }
}