# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
working-files
node_modules
dist
.cache
.parcel-cache
JamesTartaglia.com.docx
audio
css/style.css
css/style.css.map
REVIEW.md
